:root {
  --ff-sans: Helvetica, sans-serif;
}

body {
  font-size: var(--step-0);
  line-height: 1.5;
  font-family: var(--ff-sans);
  font-weight: 500;
  color: var(--color-primaryText);
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: bold;
}

h1,
.h1 {
  font-size: var(--step-6);
}

h2,
.h2 {
  font-size: var(--step-5);
}

h3,
.h3 {
  font-size: var(--step-4);
}

h4,
.h4 {
  font-size: var(--step-2);
}
